# This file is now a template. Platform-specific configurations should be placed in
# config/genimage-<platform>.cfg and referenced from the platform configuration file.
#
# The original K1 configuration has been moved to config/genimage-k1.cfg
#
# To use this template for a new platform, copy it to config/genimage-<platform>.cfg
# and customize the values as needed.
